{% layout none %}{
"main-menu":[

{% for link in linklists.main-menu.links %}{
    "id":"{{link.object.id }}",
    "url":"{{ link.url }}",
    "image":"{% if link.object.image %}{{ link.object.image | img_url: 'master' }}{% endif %}",
    "title":"{{ link.title }}",
    "links":[
    {% for sublink in linklists.[link.handle].links %}
        {
         "id":"{{sublink.object.id }}",
         "image":"{% if sublink.object.image %}{{ sublink.object.image | img_url: 'master' }}{% endif %}",
         "title":"{{sublink.object.title}}",
         "url":"{{sublink.object.url }}"
        }{% if forloop.last != true %},
{% endif %}
    {% endfor %}
     ]
  }{% if forloop.last != true %},
{% endif %}{% endfor %}],
"app-banners":[
    {% for link in linklists.app-banners.links %}{
    "id":"{{link.object.id }}",
    "url":"{{ link.url }}",
    "image":"{{ link.object.image | img_url: 'master' }}",
    "title":"{{ link.title }}"
}{% if forloop.last != true %},
{% endif %}{% endfor %}]
}